{
    "embedding": {
        "path": "data/glove.6B.300d.txt",
        "dense": true,
        "lines_to_read": 50000
    },
    "project": {
        "workspace": "E:\\Research\\word_embedding_interpretability\\'test'",
        "name": "default",
        "project": "E:\\Research\\word_embedding_interpretability\\'test'\\default",
        "logs": "E:\\Research\\word_embedding_interpretability\\'test'\\default\\logs",
        "models": "E:\\Research\\word_embedding_interpretability\\'test'\\default\\saves",
        "results": "E:\\Research\\word_embedding_interpretability\\'test'\\default\\results",
        "processes": 2
    },
    "kde": {
        "kernel": "gaussian",
        "bandwidth": 0.2
    },
    "distance": {
        "name": "hellinger_normal"
    },
    "semantic_categories": {
        "path": "data/semcat/Categories/",
        "drop_method": "category_center",
        "drop_rate": 0.0,
        "seed": null
    }
}